<a href="https://colab.research.google.com/github/gabrielcn/FIFAWorldCups/blob/main/world_cups1930_2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto sobre a história das copas e 20 anos do pentacampeonato

## Instalação das Bibliotecas necessárias

In [ ]:
!pip install pandas
!pip install nympy
!pip install matplotlib
!pip install seaborn
!pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement nympy (from versions: none)
ERROR: No matching distribution found for nympy
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 22.7 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 typing-inspect-0.7.1

## Importação das Bibliotecas necessárias para análise

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import pandera as pa

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

## Importação do arquivo de dados csv

In [ ]:
# Importação dos[] arquivo usado na análise
WorldCup = pd.read_csv('World_Cups1930_2018.csv', encoding='utf-8')

NameError: ignored

## Formato da base de dados (21 col, 11 linhas)

In [ ]:
# Dimensão da base de dados
print('Copa do Mundo: ', WorldCup.shape)

Copa do Mundo:  (21, 11)

## Informações sobre o dataset

In [ ]:
WorldCup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             21 non-null     int64
 1   Country          21 non-null     object
 2   Winner           21 non-null     object
 3   Runners-Up       21 non-null     object
 4   Third            21 non-null     object
 5   Fourth           21 non-null     object
 6   Goals Scored     21 non-null     int64
 7   Qualified Teams  21 non-null     int64
 8   Matches Played   21 non-null     int64
 9   Attendance       21 non-null     int64
 10  Top Scorer       21 non-null     int64
dtypes: int64(6), object(5)
memory usage: 1.9+ KB

## Descrição básica

In [ ]:
WorldCup.describe()

,Year,Goals Scored,Qualified Teams,Matches Played,Attendance,Top Scorer
count,21.000000,21.000000,21.000000,21.000000,2.100000e+01,21.000000
mean,1976.857143,121.333333,21.761905,42.857143,1.928067e+06,7.047619
std,26.657618,33.943090,7.462605,17.467930,1.074875e+06,2.201731
min,1930.000000,70.000000,13.000000,17.000000,3.630000e+05,4.000000
25%,1958.000000,89.000000,16.000000,32.000000,8.931720e+05,6.000000
50%,1978.000000,126.000000,16.000000,38.000000,1.865753e+06,6.000000
75%,1998.000000,146.000000,32.000000,64.000000,2.785100e+06,8.000000
max,2018.000000,171.000000,32.000000,64.000000,3.587538e+06,13.000000

A base compreende a informação de vinte e uma edições de Copa do Mundo, entre 1930 e 2018 - aqui cabe-se ressaltar que as edições de 1942 e 1946 não ocorreram em virtude da Segunda Guerra Mundial.

As edições tiveram em média 121,3 gols marcados e 42,8 partidas jogadas

## Desenvolvimento

In [ ]:
WorldCup

,Year,Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played,Attendance,Top Scorer
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549,8
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000,5
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700,7
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,8
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607,11
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,13
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,4
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135,9
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,10
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753,7
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791,6
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723,6
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031,6
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215,6
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,6
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,6
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,8
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439,5
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856,5
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810,6
20,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031766,6